<br><br>
<section id="">
<center>
<h1>About Aaron</h1>
</center>
<br> <br>



<div style="margin-left:20%" id="about" class="row">
  <div style="margin-top: 50px;" class="col-sm-6">Hi, I am Aaron Masih. I am a technical writer and web developer living in Long Island, New York.
  I enjoy making technical concepts within the technology world
 easier to understand for my readers.
  I also enjoy a good a song and a good conversation. Feel free to reach out to me for anything.</div>
  <div class="col-sm-6"> <img id="ronPic" style="width:250px;height:250px;border-radius:20%;" src="ron.jpg">
  </div>
</div>
</section>
<h4 class="text-center"> Skills </h4>
<div class="row" style="margin-left: 38%;">

<ul class="col-sm-3">
<span>Rails | Ruby</span><br>
<span>Sinatra</span><br>
<span>PostgreSQL</span><br>
<span>JavaScript</span><br>
<span>JQuery</span><br>
</ul>


<ul class="col-sm-3">
<span>API | AJAX</span><br>
<span>HTML5</span><br>
<span>CSS</span><br>
<span>Bootstrap</span><br>
<span>Materialize CSS</span><br>
</ul>


</div>
<br><br><br>
<h1 class="text-center">My Work</h1><br><br>

<div>




<div class="container">
<iframe width="570" height="334" src="https://www.useloom.com/embed/87e2b1646ed246e1ad75c303cd6792ab" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<div>
<h4>iLoveDrumming</h4>
<p>iLoveDrumming is a passion project of mine. I wanted to create a website that has curated content pertaining to 
drum education, drum performances and drum products. I also wanted to create a forum for dicussion in relation to the aforementioned
subjects. Everybody is able to view posts, but only users that have signed-up and signed-in can make posts.
<br><br>
I built
this project in Ruby on Rails and implemented the gem Carrierwave along with Amazon Web Services in order to
let users upload pictures to their posts. I used Materialize as a front-end framework for sylizing the user interface.</p>
<ul><a href="https://blooming-spire-88098.herokuapp.com/">View site</a><p style="float:right">Documentation and Code: <a href="#">Github</a></p></ul>
</div>
</div>


<br><br>

<div class="container">
<iframe width="570" height="334" src="https://www.useloom.com/embed/ccb95cae05dd4eab903a389d69a4e1f4" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<div>
<h4>Random Quote Generator + Blog</h4>
<p>I am a huge fan of good quotes and there happens to be an API filled with random quotes at <a href="https://talaikis.com/random_quotes_api/">https://talaikis.com/random_quotes_api/</a>.
So I did what every responsible web developer does and I utilized this cool API to bring you some quirky quotes.
You can also tweet out a quote you find worth sharing with my tweet button. I wanted to add some inspirational content
to the latter half of the page(and plan to continue updating it) to fit the theme of the quotes.
<br><br>
I built
this project in HTML, CSS, and JavaScript. I used Bootstrap to help style the site. Google Fonts were used to
spruce up the atmosphere as well.</p>
<ul><a href="https://bagged-marks-11453.herokuapp.com/">View site</a><p style="float:right">Documentation and Code: <a href="#">Github</a></p></ul>
</div>
</div>


<br><br>


<div class="container">
<iframe width="570" height="334" src="https://www.useloom.com/embed/691a229f95b6455997d10b0d324f1cee" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<div>
<h4>Ronnie's Sweet Spot</h4>
<p>Ronnie's Sweet Spot is a fictional bakery located in New York City. This project seeks to recreate the look and feel of a modern day bakery website.
There is a contact form that lets users submit their opinions on their bakery experience. Upon sending an email,
the user will receive a newsletter detailing Ronnie's Sweet Spot's current products and prices.
<br><br>
I built
this project in Ruby with the micro-framework Sinatra and implemented the framework Materialize to stylize 
the user interface. This project utilizes the Sendgrid API to send an email to the user’s email with a catalog of all items sold.</p>
<ul><a href="https://rocky-dusk-95116.herokuapp.com/">View site</a><p style="float:right">Documentation and Code: <a href="#">Github</a></p></ul>
</div>
</div>



<br><br>


</div>

<section id="contact">
<h1 class="text-center">Contact</h1>
<br>
<h3 class="text-center">Want to get in touch and learn a little more about me?</h3>
<br><br>
<div class="text-center contacts">

<a href="https://twitter.com/aaronmasih2/"> <img src="twitter.png"> </a>

<a href="https://github.com/aaronmasih92/"> <img style="margin: 0 100px 0 100px;" src="github.png"> </a>
<a href= "www.linkedin.com/in/aaronmasih92"> <img src="linkedin.png"> </a>
<br><br>
<a href="mailto:aaronmasih@me.com"><img src="mail.png"</a>
</div>

<footer></footer>